{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- add-department24:07-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"> {% endcomment %}
    <title>CropElevate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    {% comment %} <style>
        .green-option {
            color: green;
        }
    </style> {% endcomment %}
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
    <style>
            .header
            {
                background-color:green;
            }
            .header .header-left 
            {
                background-color:green;
            }
            .green-background {
                background-color: green; /* Set the background color to green */
            }
            {% comment %} .sidebar{
                background-color: green;
            } {% endcomment %}
            .sidebar
            {
                background-color:green;
            }
            .sidebar-menu li a {
                color:white;
            }
            .sidebar-menu li a:hover {
                color: white;
            }
            .sidebar-menu li.active a {
                color: green;
                background-color: #f3f3f3;
            }
          
        .error-messages {
            color: red;
            font-size:28px;
        }
        
    </style> 
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{% url 'adindex' %}" class="logo">
					<img src="{% static 'assets/img/adminlogo1.png' %}" width="35" height="35" alt=""> <span>CropElevate</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">

                                {% comment %} <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="assets/img/user.jpg" class="img-fluid rounded-circle">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li> {% endcomment %}
                                {% comment %} <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li> {% endcomment %}
                                {% comment %} <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li> {% endcomment %}
                                {% comment %} <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li> {% endcomment %}
                                {% comment %} <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li> {% endcomment %}
                            </ul>
                        </div>
                        {% comment %} <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div> {% endcomment %}
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/user.jpg' %}" width="40" alt="Admin">
							<span class="status online"></span></span>
                        <span></span>
                    </a>
					<div class="dropdown-menu">
						{% comment %} <a class="dropdown-item" href="profile.html">My Profile</a> {% endcomment %}
						{% comment %} <a class="dropdown-item" href="#">Edit Profile</a> {% endcomment %}
						{% comment %} <a class="dropdown-item" href="settings.html">Settings</a> {% endcomment %}
						<a class="dropdown-item" href="{% url 'adminlogin' %}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% comment %} <a class="dropdown-item" href="profile.html">My Profile</a> {% endcomment %}
                    {% comment %} <a class="dropdown-item" href="#">Edit Profile</a> {% endcomment %}
                    {% comment %} <a class="dropdown-item" href="settings.html">Settings</a> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'adminlogin' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title" style="color:#c9edbe; font-weight:bold;">Admin</li>
                        <li>
                            <a href="{% url 'adindex' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="{% url 'admember' %}"><i class="fa fa-user-md"></i> <span>Members</span></a>
                        </li>
                       
                        <li class="active">
                            <a href="{% url 'adcrop' %}"><i class="fa fa-hospital-o"></i> <span>Crops</span></a>
                        </li>
                        
                        <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#"><i class="fa fa-user"></i> <span></span>Applied <span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'adpendingapproval' %}"><i class="fa fa-hospital-o"></i> <span>Pending</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adapproval' %}"><i class="fa fa-calendar-check-o"></i> <span>Approved List</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adpendinglist' %}"><i class="fa fa-calendar-check-o"></i> <span>Waiting List</span></a>
                                </li>
                            </ul>
                        </li>    

                        
                        <li>
                            <a href="{% url 'adreport' %}"><i class="fa fa-calendar-check-o"></i> <span>Report</span></a>
                        </li>
                       
                        <li>
                            <a href="{% url 'admeeting' %}"><i class="fa fa-wheelchair"></i> <span>Meeting</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adcalendar' %}"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>

       
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        {% if messages %}
                        <ul class="messages error-messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <h4 class="page-title" style="font-size: 27px; color: #3c733c;"><b><i><u>Add Meeting</b></i></u></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form method="POST" action="" autocomplete="off" enctype="multipart/form-data" id="meeting-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="meeting_date" style="color: black;"><b>Meeting Date:</b></label>
                                <input type="date" class="form-control" name="meeting_date" id="meeting_date" required>
                                <p class="error-message" id="date_error" style="color: red;"></p>
                            </div>
                            <div class="form-group">
                                <label for="meeting_time" style="color: black;"><b>Time:</b></label>
                                <input class="form-control" type="time" name="meeting_time" step="1" required id="meeting_time">
                                <p class="error-message" id="time_error" style="color: red;"></p>
                            </div>
                            <div class="form-group">
                                <label for="desmeeting" style="color: black;"><b>Description:</b></label>
                                <textarea class="form-control" cols="30" rows="4" name="desmeeting" id="desmeeting" required></textarea>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" style="background-color: green; color: white;">Create Meeting</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
			<div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                
                        </ul>
                    </div>
                    {% comment %} <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <script>
            document.addEventListener('DOMContentLoaded', function () {
                const dateInput = document.getElementById('meeting_date');
                const timeInput = document.getElementById('meeting_time');
                const dateError = document.getElementById('date_error');
                const timeError = document.getElementById('time_error');
        
                dateInput.addEventListener('input', function () {
                    const selectedDate = new Date(dateInput.value);
                    const today = new Date();
        
                    if (selectedDate < today) {
                        dateInput.setCustomValidity('Date must be greater than or equal to today');
                        dateError.textContent = 'Please select a date greater than or equal to today.';
                    } else {
                        dateInput.setCustomValidity('');
                        dateError.textContent = '';
                    }
                });
        
                timeInput.addEventListener('input', function () {
                    const selectedTime = timeInput.value;
                    const startTime = '10:00'; // 10:00 AM
                    const endTime = '16:00';   // 4:00 PM
        
                    if (selectedTime < startTime || selectedTime > endTime) {
                        timeInput.setCustomValidity('Time must be between 10:00 AM and 4:00 PM');
                        timeError.textContent = 'Please select a time between 10:00 AM and 4:00 PM.';
                    } else {
                        timeInput.setCustomValidity('');
                        timeError.textContent = '';
                    }
                });
            });        
    </script>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>


<!-- add-department24:07-->
</html>
