{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"> {% endcomment %}
    <title>CropElevate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
    <style>
        .header
        {
            background-color:green;
        }
        .header .header-left 
        {
            background-color:green;
        }
        .green-background {
            background-color: green; /* Set the background color to green */
        }
        {% comment %} .sidebar{
            background-color: green;
        } {% endcomment %}
        .sidebar
        {
            background-color:green;
        }
        .sidebar-menu li a {
            color:white;
        }
        .sidebar-menu li a:hover {
            color: white;
        }
        .sidebar-menu li.active a {
            color: green;
            background-color: #f3f3f3;
        }
        table {
            width: 70%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-left:10% ;
            box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.6);
        }
        h1{
            margin-left:80px;
            color:black;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
            color:black;
        }
        th {
            background-color: Green;
            color:white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .dropdown-menu a {
            color: #333; /* Link color */
            text-decoration: none; /* Remove underline */
            padding: 5px 15px; /* Add padding for spacing */
            display: block; /* Display links as block elements */
            
        }
    
        .dropdown-menu a:hover {
            background-color: #f2f2f2; /* Background color on hover */
        }
            /* Optional CSS for better formatting */
            .custom-dropdown {
                display: inline-block;
                position: relative;
            }
    
            .custom-dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 150px;
                border: 1px solid #ccc;
            }
    
            .custom-checkbox {
                display: block;
            }
    </style> 
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{% url 'adindex' %}" class="logo">
					<img src="{% static 'assets/img/adminlogo1.png' %}" width="35" height="35" alt=""> <span>CropElevate</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                {% comment %} <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                </li> {% endcomment %}
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/user.jpg' %}" width="40" alt="Admin">
							<span class="status online"></span></span>
                        {% comment %} <span>Admin</span> {% endcomment %}
                    </a>
					<div class="dropdown-menu">
						{% comment %} <a class="dropdown-item" href="profile.html">My Profile</a> {% endcomment %}
						{% comment %} <a class="dropdown-item" href="">Edit Profile</a> {% endcomment %}
						{% comment %} <a class="dropdown-item" href="settings.html">Settings</a> {% endcomment %}
                        <a class="dropdown-item" href="{% url 'loginn' %}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% comment %} <a class="dropdown-item" href="profile.html">My Profile</a> {% endcomment %}
                    {% comment %} <a class="dropdown-item" href="">Edit Profile</a> {% endcomment %}
                    {% comment %} <a class="dropdown-item" href="settings.html">Settings</a> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'loginn' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title" style="color:#661414; font-weight:bold;"><h4><b>Admin</b></h4></li>
                        <li>
                            <a href="{% url 'adindex' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="{% url 'admember' %}"><i class="fa fa-user"></i> <span>Members</span></a>
                        </li>
                        
                        <li>
                            <a href="{% url 'adcrop' %}"><i class="fas fa-seedling fa-2x"></i> <span>Crops Sampling</span></a>
                        </li>
                       

                        <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#"><i class="fa fa-user"></i> <span></span>Applied <span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'adpendingapproval' %}"><i class="fas fa-exclamation-circle"></i>

                                    </i> <span>Pending</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adapproval' %}"><i class="fa fa-calendar-check-o"></i> <span>Approved List</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adpendinglist' %}"><i class="fas fa-hourglass-half"></i>
                                    </i> <span>Waiting List</span></a>
                                </li>
                            </ul>
                        </li>  
                        <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#"><i class="fas fa-users fa-2x"></i> <span></span> Meeting<span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'admeeting' %}"><i class="fas fa-users fa-2x"></i>
                                    </i> <span>Meeting List</span></a>
                                </li> 
                                <li class="active">
                                    <a href="{% url 'adattendance' %}"><i class="fa fa-calendar-check-o"></i> <span>Attendance</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'admleaveapply' %}"><i class="fa fa-calendar-minus-o"></i> <span>Leave</span></a>
                                </li>
                            </ul>
                        </li>      
                        <li>
                            <a href="{% url 'driver' %}"><i class="fas fa-truck"></i> <span>Drivers</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adproduct' %}" id="memind"><i class="fa fa-user"></i> <span>Product</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adproductcost' %}"><i class="fas fa-dollar-sign"></i> <span>Product Cost</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adselldetails' %}"><i class="fas fa-shopping-cart"></i> <span>Collected</span></a>
                        </li>
                        <li>
                            <a href="{% url 'all_accounts' %}"><i class="fa fa-address-card"></i> <span>Account</span></a>
                        </li>
                        <li>
                            <a href="{% url 'admachinery' %}"><i class="fas fa-cogs"></i> <span>Machinery</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adreport' %}"><i class="fas fa-file-text"></i>
                            </i> <span>Report</span></a>
                        </li>

						</li>
                        <li>
                            <a href="{% url 'adcalendar' %}"><i class="far fa-calendar-alt fa-2x"></i>

                            </i>
                                <span>Calendar</span></a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
      
                <div class="container">
                    <div class="details">
                        <br>
                        <br>
                        <br>
                        <h1>Attendence</h1>
                        <table>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Attendance</th>
                            </tr>
                            {% for member_id, data in members.items %}
                            <tr>
                                <td>{{forloop.counter}}
                                <td>
                                    <h4 class="doctor-name text-ellipsis">
                                        <a href="profile.html">{{ data.Name }}</a>
                                    </h4>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'mark_attendance'  meeting.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="member_id" value="{{ member_id }}">
                                        <select name="attendance_status">
                                            <option value="pending" {% if data.is_present == 'pending' %}selected{% endif %}>Pending</option>
                                            <option value="absent" {% if data.is_present == 'absent' %}selected{% endif %}>Absent</option>
                                            <option value="present" {% if data.is_present == 'present' %}selected{% endif %}>Present</option>
                                        </select>
                                        {% if data.is_present == 'pending' %}
                                        <span class="text-danger" style="font-weight: bolder; font-size: large;">pending</span>
                                        {% elif data.is_present == 'absent' %}
                                        <span class="text-danger" style="font-weight: bolder; font-size: large;">Absent</span>
                                        {% else  %}
                                        <span class="text-success" style="font-weight: bolder; font-size: large;">Present</span>
                                    
                                        {% endif %}
                                        <button class="btn btn-primary" type="submit"><form method="post" action="{% url 'mark_attendance'  meeting.id %}">
                                            Mark Attendance</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                        </ul>
                    </div>          
                </div>
            </div>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script>
        function toggleDropdown(button) {
            var dropdownContent = button.nextElementSibling;
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
        }
    </script>   
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>
</html>