{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- edit-profile23:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"> {% endcomment %}
    <title>CropElevate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
    <style>
        .header
        {
            background-color:green;
        }
        .header .header-left 
        {
            background-color:green;
        }
        .green-background {
            background-color: green; /* Set the background color to green */
        }
        {% comment %} .sidebar{
            background-color: green;
        } {% endcomment %}
        .sidebar
        {
            background-color:green;
        }
        .sidebar-menu li a {
            color:white;
        }
        .sidebar-menu li a:hover {
            color: white;
        }
        .sidebar-menu li.active a {
            color: green;
            background-color: #f3f3f3;
        }
      
    </style> 
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{% url 'adindex' %}" class="logo">
					<img src="{% static 'assets/img/adminlogo1.png' %}" width="35" height="35" alt=""> <span>CropElevate</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">

                               
                                
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% comment %} <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div> {% endcomment %}
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">7</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/user.jpg' %}" width="40" alt="Admin">
							<span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						{% comment %} <a class="dropdown-item" href="profile.html">My Profile</a> {% endcomment %}
						<a class="dropdown-item" href="{% url 'adeditprofile' %}">Edit Profile</a>
						{% comment %} <a class="dropdown-item" href="settings.html">Settings</a> {% endcomment %}
                        <a class="dropdown-item" href="{% url 'adminlogin' %}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% comment %} <a class="dropdown-item" href="profile.html">My Profile</a> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'adeditprofile' %}">Edit Profile</a>
                    {% comment %} <a class="dropdown-item" href="settings.html">Settings</a> {% endcomment %}
                    <a class="dropdown-item" href="{% url 'adminlogin' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="{% url 'adindex' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="{% url 'admember' %}"><i class="fa fa-user-md"></i> <span>Members</span></a>
                        </li>
                        
                        <li>
                            <a href="{% url 'adcrop' %}"><i class="fa fa-hospital-o"></i> <span>Crops</span></a>
                        </li>
                        
                        <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#"><i class="fa fa-user"></i> <span></span>Applied <span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'adpendingapproval' %}"><i class="fa fa-hospital-o"></i> <span>Pending</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adapproval' %}"><i class="fa fa-calendar-check-o"></i> <span>Approved List</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adpendinglist' %}"><i class="fa fa-calendar-check-o"></i> <span>Waiting List</span></a>
                                </li>
                            </ul>
                        </li>    
                        <li>
                            <a href="{% url 'admeeting' %}"><i class="fa fa-wheelchair"></i> <span>Meeting</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adreport' %}"><i class="fa fa-calendar-check-o"></i> <span>Report</span></a>
                        </li>
						
						<li class="submenu">
							<a href="#"><i class="fa fa-flag-o"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
							{% comment %} <ul style="display: none;">
								<li><a href="expense-reports.html"> Expense Report </a></li>
								<li><a href="invoice-reports.html"> Invoice Report </a></li>
							</ul> {% endcomment %}
						</li>
                        
                        <li>
                            <a href="{% url 'adcalendar' %}"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                        </li>
                       
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form method="POST" action="" autocomplete="off">
                        <div class="profile-form">
                            <!-- Basic Information -->
                            <h2 class="form-heading" style="color:brown; font-weight:bold;">Basic Information</h2>
                            {% csrf_token %}
                            {% comment %} <div>
                                <label for="address" id="carde" class="form-label text animated zoomIn">Reset Password:</label>
                                <hr class=" text animated zoomIn" id="signintext2">
                                <input type="Password" class="form-control text animated zoomIn"  id="cardelement" name="old_password" placeholder="current password">
                                <input type="Password" class="form-control text animated zoomIn"  id="cardelement" name="reset_password" style="margin-top:20px;" placeholder="new password">
                                <input type="Password" class="form-control text animated zoomIn"  id="cardelement" name="cpass" style="margin-top:20px;" placeholder="confirm new password">
                                <span id="pspan" class="text-danger" style="margin-left:50%;"></span>
                            </div> {% endcomment %}
                            {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger" >{{ message }}</p>
                            {% endfor %}
                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name <span class="text-danger"></span></label>
                                        <input type="text" class="form-control" id="name" name="name" value="{{ adprofile.Name }}" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email <span class="text-danger"></span></label>
                                        <input type="email" class="form-control" id="email" name="email" value="{{ adprofile.email }}" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" id="address" name="address">{{ adprofile.address }}</textarea>
                                    </div>
                                </div>
                                {% comment %} <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dob">Date of Birth</label>
                                        <input type="date" class="form-control" id="dob" name="dob" value="{{ member.dob }}">
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="district">District</label>
                                        <input type="text" class="form-control" id="district" name="district" value="{{ member.district }}" readonly>
                                    </div>
                                </div> {% endcomment %}
                                {% comment %} <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="taluk">Taluk</label>
                                        <input type="text" class="form-control" id="taluk" name="taluk" value="{{ member.taluk }}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="panchayat">Panchayath</label>
                                        <input type="text" class="form-control" id="panchayat" name="panchayat" value="{{ member.Panchayat }}" readonly>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <!-- Contact Information -->
                            <h2 class="form-heading" style="color:brown;font-weight:bold">Contact Information</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ward">Ward</label>
                                        <input type="text" class="form-control" id="ward" name="ward" value="{{ adprofile.wardno }}" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="postal">Postal Code</label>
                                        <input type="text" class="form-control" id="pin_code" name="pin_code" value="{{ adprofile.pin_code }}" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="tel" class="form-control" id="phone_number" name="phone_number" value="{{ adprofile.phone_number }}" >
                                    </div>
                                </div>
                                {% comment %} <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="amob">Alternate Mobile Number</label>
                                        <input type="tel" class="form-control" id="amob" name="amob" value="{{ member.amob }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="aemail">Alternate Email</label>
                                        <input type="text" class="form-control" id="aemail" name="aemail" value="{{ member.aemail }}">
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <!-- Educational Information -->
                            {% comment %} <h2 class="form-heading" style="color:brown;font-weight:bold">Educational Information</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="degree">Highest Degree</label>
                                        <input type="text" class="form-control" id="degree" name="degree" value="{{ member.degree }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="institution">Institution</label>
                                        <input type="text" class="form-control" id="institution" name="institution" value="{{ member.institution }}">
                                    </div>
                                </div>
                            </div>
                            <!-- Short Biography -->
                            <h2 class="form-heading" style="color:brown;font-weight:bold">Short Biography</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bio">Short Biography</label>
                                        <textarea class="form-control" id="bio" name="bio">{{ member.bio }}</textarea>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>


<!-- edit-profile23:05-->
</html>