{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>CropElevate</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">

    <style>
        .header
        {
            background-color:green;
        }
        .header .header-left 
        {
            background-color:green;
        }
        .green-background {
            background-color: green; 
        }
        {% comment %} .sidebar{
            background-color: green;
        } {% endcomment %}
        .sidebar
        {
            background-color:green;
        }
        .sidebar-menu li a {
            color:white;
        }
        .sidebar-menu li a:hover {
            color: white;
        }
        .sidebar-menu li.active a {
            color: green;
            background-color: #f3f3f3;
        }
        .table{
            margin-left:80px;
            width:450px;

        }
        .card
        {
            width:70% ;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        }
        .card member-panel
        {
            margin-left:40px;
        }
        .card2
        {
            width:75% ;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            margin-left:1000px;
            margin-top:-640px;
        }
        
    </style> 
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{% url 'adindex' %}" class="logo">
					<img src="{% static 'assets/img/adminlogo1.png' %}" width="35" height="35" alt=""> <span>CropElevate</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell">fg</i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown" id="notificationDropdownContent">
                        <h6 class="p-3 mb-0">Notifications</h6>
                        <div class="dropdown-divider"></div>
                        <!-- Notifications will be dynamically added here -->
                    </div>
                </li> {% endcomment %}


                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="mdi mdi-bell"></i> <!-- Replaced "fg" with the bell icon -->
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown" id="notificationDropdownContent">
                        <h6 class="p-3 mb-0">Notifications</h6>
                        <div class="dropdown-divider"></div>
                        <!-- Notifications will be dynamically added here -->
                    </div>
                </li>
                 {% endcomment %}
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'assets/img/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						{% comment %} <span>Admin</span> {% endcomment %}
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{% url 'loginn' %}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">               
                    <a class="dropdown-item" href="{% url 'loginn' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title" style="color:#661414; font-weight:bold;"><h4><b>Admin</b></h4></li>
                        {% comment %} <li class="active">
                            <a href="{% url 'adaccount' %}"><i class="fa fa-dashboard"></i> <span>Account</span></a>
                        </li> {% endcomment %}
                       
                        <li class="active">
                            <a href="{% url 'adindex' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="{% url 'admember' %}" id="memind"><i class="fa fa-user"></i> <span>Members</span></a>
                        </li>    
                        <li>
                            <a href="{% url 'adcrop' %}" id="cid"><i class="fas fa-seedling fa-2x"></i> <span>Crops Sampling</span></a>
                        </li>
                        <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#"><i class="fa fa-user"></i> <span></span>Applied <span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'adpendingapproval' %}"><i class="fas fa-exclamation-circle"></i>

                                    </i> <span>Pending</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adapproval' %}"><i class="fa fa-calendar-check-o"></i> <span>Approved List</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adpendinglist' %}"><i class="fas fa-hourglass-half"></i>
                                    </i> <span>Waiting List</span></a>
                                </li>
                            </ul>
                        </li>    
                         <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#" id="met"><i class="fas fa-users fa-2x"></i> <span></span> Meeting<span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'admeeting' %}" id="meetid"><i class="fas fa-users fa-2x"></i>
                                    </i> <span>Meeting List</span></a>
                                </li> 
                                <li>
                                    <a href="{% url 'adattendance' %}"><i class="fa fa-calendar-check-o"></i> <span>Attendance</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'admleaveapply' %}"><i class="fa fa-calendar-minus-o"></i> <span>Leave</span></a>
                                </li>
                                
                                
                            </ul>
                        </li>    
                        <li>
                            <a href="{% url 'driver' %}"><i class="fas fa-truck"></i> <span>Drivers</span></a>
                        </li>
                        {% comment %} <li>
                            <a href="{% url 'adblog' %}" id="memind"><i class="fa fa-user"></i> <span>Products</span></a>
                        </li> {% endcomment %}
                        {% comment %} <li>
                            <a href="{% url 'adproduct' %}"><i class="fa fa-user"></i> <span>Product</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adservice' %}"><i class="fa fa-user"></i> <span>Services</span></a>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url 'adproductcost' %}"><i class="fas fa-dollar-sign"></i> <span>Product Cost</span></a>
                        </li>
                       
                        <li>
                            <a href="{% url 'adselldetails' %}"><i class="fas fa-shopping-cart"></i> <span>Collected</span></a>
                        </li>
                        <li>
                            <a href="{% url 'all_accounts' %}"><i class="fa fa-address-card"></i> <span>Account</span></a>
                        </li>
                        <li>
                            <a href="{% url 'admachinery' %}"><i class="fas fa-cogs"></i> <span>Machinery</span></a>
                        </li>
                        
                        <li>
                            <a href="{% url 'adreport' %}"><i class="fas fa-file-text"></i>
                            </i> <span>Report</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adcalendar' %}"><i class="far fa-calendar-alt fa-2x"></i>

                            </i>
                                <span>Calendar</span></a>
                        </li>
                   
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<span class="dash-widget-bg1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
							<div class="dash-widget-info text-right">
								<h3>{{me_count}}</h3>
								<span class="widget-title1">Members <i class="fa fa-check" aria-hidden="true"></i></span>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            <span class="dash-widget-bg2"><i class="fa fa-calendar-check-o"></i></span>
                            <div class="dash-widget-info text-right">
                                <h3>{{c_count}}</h3>
                                <span class="widget-title2">Crops <i class="fa fa-check" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    
					</div>
                    <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title d-inline-block" style="font-weight:bold;">Crop List</h4>
                                <a href="{% url 'adcrop' %}" class="btn btn-secondary float-right mr-2">View All</a>
                                <!-- Add your button here -->
                            </div>
                            <div class="table-responsive ml-auto"> <!-- Added ml-auto class -->
                                <table class="table table-bordered table-striped"> <!-- Added table styles -->
                                    <thead>
                                        <tr>
                                            <th>Crop Name</th>
                                            <th>Crop Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for crop in crops %}
                                        <tr>
                                            <td>{{ crop.Namec }}</td>
                                            <td>{{ crop.count }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
    </div>
</div>
<div class="col-12 col-md-6 col-lg-6 col-xl-6"> <!-- Create a column for the second card -->
    <div class="card2">
        <div class="card2-header"><br>
            <h4 class="card-title d-inline-block" style="margin-left:15px; font-size:22px;">Member List</h4>
            <a href="{% url 'admember' %}" class="btn btn-secondary float-right mr-2" style="margin-right:70px;">View all</a>
        </div>
        <div class="table-responsive ml-auto">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Member Name</th>
                        <th>Ward</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in me %}
                    <tr>
                        <td>{{ member.Name }}</td>
                        <td>{{ member.wardno }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    </div>
</div>
</div>
</div>
		</div>
				
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
          var notificationDropdownContent = $("#notificationDropdownContent");
          var notificationsLoaded = false;
      
          // Function to load notifications asynchronously
          function loadNotifications() {
            $.get("{% url 'notifications' %}", function (data) {
              $("#notificationDropdown .count").text(data.notification_count);
      
              // Clear existing notifications
              notificationDropdownContent.empty();
      
              if (data.notifications.length === 0) {
                // If there are no notifications, hide the notification section
                notificationDropdownContent.hide();
              } else {
                // If there are notifications, show the notification section and add new notifications
                notificationDropdownContent.show();
      
                for (var i = 0; i < data.notifications.length; i++) {
                  var notification = data.notifications[i];
                  var notificationHtml = `
                    <a class="dropdown-item preview-item" data-notification-id="${notification.id}">
                      <div class="preview-item-content custom-max-width" style="max-width: 200px; /* Set the maximum width as needed */
                        white-space: nowrap;
                        overflow: auto;
                        text-overflow: ellipsis;">
                        <p class="preview-subject mb-1">${notification.title}</p>
                        <p class="text-muted mb-1">${notification.message}</p>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>`;
                  notificationDropdownContent.append(notificationHtml);
                }
      
                // Attach click event to mark notifications as read
                notificationDropdownContent.find(".preview-item").click(function () {
                  var notificationId = $(this).data("notification-id");
                  // Show a confirmation dialog
                  var confirmed = confirm("Mark as read?");
                  if (confirmed) {
                    // Mark the notification as read
                    markNotificationAsRead(notificationId);
                  }
                });
              }
            });
          }
      
          // Function to mark notification as read
          function markNotificationAsRead(notificationId) {
            $.ajax({
              type: 'POST',
              url: '{% url "mark_notification_as_read" %}',
              data: {
                'notification_id': notificationId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function (response) {
                // Reload notifications after marking as read
                loadNotifications();
              },
              error: function (error) {
                console.error('Error marking notification as read:', error);
              }
            });
          }
      
          // Toggle visibility of notifications dropdown when clicking on the notifications icon
          $("#notificationDropdown").click(function () {
            if (!notificationsLoaded) {
              // Load notifications only if they haven't been loaded before
              loadNotifications();
              notificationsLoaded = true;
            }
            notificationDropdownContent.toggle();
          });
        });
      </script>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/js/chart.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>

</body>



</html>