{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- departments23:21-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"> {% endcomment %}
    <title>CropElevate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <style>
        .header
        {
            background-color:green;
        }
        .header .header-left 
        {
            background-color:green;
        }
        .sidebar
        {
            background-color:green;
        }
        .sidebar-menu li a {
            color:white;
        }
        .sidebar-menu li a:hover {
            color: white;
        }
        .sidebar-menu li.active a {
            color: green;
            background-color: #f3f3f3;
        }
        h1 {
            text-align: center;
            color: #333;
        }

        .details {
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
            color:black;
        }

        th {
            background-color: green;
            color: white;
        }

        .no-details {
            text-align: center;
            color: #777;
        }

        .text-right {
            text-align: right;
        }

        .btn-primary {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        td button {
            background-color: transparent;
            border: none;
            color: #007bff; 
            font-size: 18px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        td button i {
            margin-right: 5px;
        }
    </style> 
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="{% url 'adindex' %}" class="logo">
					<img src="{% static 'assets/img/adminlogo1.png' %}" width="35" height="35" alt=""> <span>CropElevate</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                {% comment %} <li class="nav-item dropdown d-none d-sm-block">                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                            </ul>
                        </div> 
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right"></span></a>
                </li> {% endcomment %}
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'assets/img/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						{% comment %} <span>Admin</span> {% endcomment %}
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{% url 'loginn' %}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">               
                    <a class="dropdown-item" href="{% url 'loginn' %}">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title" style="color:#c9edbe; font-weight:bold;">Admin</li>
                        <li>
                            <a href="{% url 'adindex' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="{% url 'admember' %}"><i class="fa fa-user"></i> <span>Members</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adcrop' %}"><i class="fas fa-seedling fa-2x"></i> <span>Crops Sampling</span></a>
                        </li>
                        <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#"><i class="fa fa-user"></i> <span></span>Applied <span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'adpendingapproval' %}"><i class="fas fa-exclamation-circle"></i>

                                    </i> <span>Pending</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adapproval' %}"><i class="fa fa-calendar-check-o"></i> <span>Approved List</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'adpendinglist' %}"><i class="fas fa-hourglass-half"></i>
                                    </i> <span>Waiting List</span></a>
                                </li>
                            </ul>
                        </li>    
                        <li class="submenu green-background"> <!-- Add the "green-background" class -->
                            <a href="#"><i class="fas fa-users fa-2x"></i> <span></span> Meeting<span class="menu-arrow"></span></a>
                            <ul style="display: none;background-color:green;">
                                <li>
                                    <a href="{% url 'admeeting' %}"><i class="fas fa-users fa-2x"></i>
                                    </i> <span>Meeting List</span></a>
                                </li> 
                                <li>
                                    <a href="{% url 'adattendance' %}"><i class="fa fa-calendar-check-o"></i> <span>Attendance</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'admleaveapply' %}"><i class="fa fa-calendar-minus-o"></i> <span>Leave</span></a>
                                </li>
                            </ul>
                        </li>    
                        <li>
                            <a href="{% url 'driver' %}"><i class="fas fa-truck"></i> <span>Drivers</span></a>
                        </li>
                        {% comment %} <li>
                            <a href="{% url 'adproduct' %}" id="memind"><i class="fa fa-user"></i> <span>Product</span></a>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url 'adproductcost' %}"><i class="fas fa-dollar-sign"></i> <span>Product Cost</span></a>
                        </li>
                        <li class="active">
                            <a href="{% url 'adselldetails' %}"><i class="fas fa-shopping-cart"></i> <span>Collected</span></a>
                        </li>
                        <li>
                            <a href="{% url 'all_accounts' %}"><i class="fa fa-address-card"></i> <span>Account</span></a>
                        </li>
                        <li>
                            <a href="{% url 'adreport' %}"><i class="fas fa-file-text"></i>
                            </i> <span>Report</span></a>
                        </li>
						<li class="submenu">
						</li>
                        <li>
                            <a href="{% url 'adcalendar' %}"><i class="far fa-calendar-alt fa-2x"></i>
                            </i>
                                <span>Calendar</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h4 class="page-title"></h4>
                    </div>  
                </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h1><b>Collected Applications</b></h1>
                    <table>
                        <thead>
                            <tr>
                                <th style="color:white;"><b>No</b></th>
                                <th style="color:white;"><b>Farmer Name</b></th>
                                <th style="color:white;"><b>Address</b></th>
                                {% comment %} <th style="color:white;"><b>Approved Member</b></th> {% endcomment %}
                                <th style="color:white;"><b>Ward No</b></th>
                                <th style="color:white;"><b>Product Name</b></th>
                                <th style="color:white;"><b>Quantity</b></th>
                                <th style="color:white;"><b>Date To Collect</b></th>
                                <th style="color:white;"><b>Driver Name</b></th>
                                <th style="color:white;"><b>Driver Phone</b></th>
                                <th style="color:white;"><b>Collected</b></th>                     
                                <th style="color:white;"><b>Total Cost</b></th>
                                <th style="color:white;"></b>Pay</b></th>
                                <th style="color:white;"><b>Paid Amount</b></th>
                                <th style="color:white;"><b>Download</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in confirmed_data %}
                                <tr>
                                    <td style="color:black;">{{ forloop.counter }}</td>
                                    <td style="color:black;">{{ entry.sell.farmerName }}</td>
                                    <td style="color:black;">{{ entry.sell.address }}</td>
                                    {% comment %} <td>
                                        {% if entry.is_accept == 'accept' %}
                                            {{ entry.user.name }}
                                        {% else %}
                                            Not Confirmed
                                        {% endif %}
                                    </td> {% endcomment %}
                                    <td style="color:black;">{{ entry.sell.wardNo }}</td>
                                    <td style="color:black;">{{ entry.sell.name }}</td>
                                    <td style="color:black;">{{ entry.sell.quantity }}</td>
                                    <td style="color:black;">{{ entry.sell.sell_date }}</td>

                                    <td>
                                        {% if entry.is_confirmed %}
                                            {{ entry.driver.name }}
                                        {% else %}
                                            Not Confirmed
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.is_confirmed %}
                                            {{ entry.driver.dphone }}
                                        {% else %}
                                            Not Confirmed
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.is_collected %}
                                            Collected
                                        {% else %}
                                            Not Collected
                                        {% endif %}
                                    </td>                                    
                                    <td style="color:black;">
                                        {% if entry.total_cost == "Add Amount" %}
                                        <form method="post" action="{% url 'update_total_cost' entry.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="entry_id" value="{{ entry.id }}">
                                            <input type="text" name="total_cost" id="totalCostInput_{{ entry.id }}" placeholder="Enter Total Cost" oninput="validateTotalCost(this)">
                                            <span id="validationMessage_{{ entry.id }}" style="color: red;"></span>
                                            <button type="submit">Update</button>
                                        </form>
                                        
                                        {% else %}
                                            <span id="totalCost_{{ entry.id }}">
                                                {% if entry.total_cost %}
                                                    {{ entry.total_cost }}
                                                {% else %}
                                                    <!-- Add a default value or message if total_cost is not available -->
                                                    N/A
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </td>
                                    {% comment %} <td style="color:black;">
                                        {% if not entry.is_amount %}
                                            <form method="post" action="{% url 'pay_entry' entry.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-primary" type="submit">Pay</button>
                                            </form>
                                        {% else %}
                                            <p>Paid</p>
                                        {% endif %}
                                    </td>                                     {% endcomment %}


                                    <td style="color:black;">
                                        {% if not entry.is_amount %}
                                            <span id="amountToPay_{{ entry.id }}">0</span> <!-- Display default value or 0 -->
                                            <form method="post" action="{% url 'pay_entry' entry.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-primary" type="submit">Pay</button>
                                            </form>
                                        {% else %}
                                            {% comment %} <span id="amountToPay_{{ entry.id }}">{{ entry.total_cost }}</span> {% endcomment %}
                                            <p>Paid</p>
                                        {% endif %}
                                    </td>
                                    <td style="color:black;">
                                        {% if entry.is_amount %}
                                        <span id="amountToPay_{{ entry.id }}">{{ entry.total_cost }}</span>
                                        
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if entry.is_confirmed and entry.is_collected %}
                                            <form action="{% url 'adgenerate_pdf_bill' entry.sell.id %}" method="post" target="_blank">
                                                {% csrf_token %}
                                                <button type="submit"><i class="fas fa-download"></i></button>
                                            </form>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="11" style="text-align: right;"><b>Total Paid Amount:</b></td>
                                <td style="color:black;">{{ total_paid_amount }}</td>
                                <td colspan="3"></td>  <!-- colspan value should be adjusted based on the number of columns in your table -->
                            </tr>
                            
                            {% comment %} {% for user_name, amount in total_paid_amount_by_user.items %}
                                <tr>
                                    <td colspan="11" style="text-align: right;"><b>Total Paid Amount for {{ user_name }}:</b></td>
                                    <td style="color:black;">{{ amount }}</td>
                                    <td colspan="3"></td>  <!-- colspan value should be adjusted based on the number of columns in your table -->
                                </tr>
                            {% endfor %} {% endcomment %}
                            <!-- Add this block of code to display total_amount for each user -->
<!-- Add this block of code to display total_amount for each user -->
{% comment %} {% for user_name, amount in total_amount_by_user.items %}
    <tr>
        <td colspan="11" style="text-align: right;"><b>Total Amount for {{ user_name }}:</b></td>
        <td style="color:black;">{{ amount }}</td>
        <td colspan="3"></td>  <!-- colspan value should be adjusted based on the number of columns in your table -->
    </tr>
{% endfor %} {% endcomment %}

<!-- Add this block of code to display total_paid_amount for all users -->

{% for user_name, amount in total_paid_amount_by_user.items %}
    <tr>
        <td colspan="11" style="text-align: right;"><b>Total Paid Amount for {{ user_name }}:</b></td>
        <td style="color:black;">{{ amount }}</td>
        <td colspan="3"></td>  <!-- colspan value should be adjusted based on the number of columns in your table -->
    </tr>
{% endfor %}
<!-- End of block -->

<!-- Add this block of code to display total_amount for each user -->
{% for user_name, amount in total_amount_by_user.items %}
    <tr>
        <td colspan="11" style="text-align: right;"><b>Total Amount for {{ user_name }}:</b></td>
        <td style="color:black;">{{ amount }}</td>
        <td colspan="3"></td>  <!-- colspan value should be adjusted based on the number of columns in your table -->
    </tr>
{% endfor %}
<!-- End of block -->



                        </tbody>
                    </table>           
                </div>
                </div>
            </div>
            </div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                </div>
            </div>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script>
        function validateTotalCost(input) {
            var inputValue = input.value.trim();
            var validationMessageElement = document.getElementById("validationMessage_" + input.id.split('_')[1]);
    
            // Use regex to match positive decimal numbers
            var regex = /^\d+(\.\d{1,2})?$/;
    
            if (regex.test(inputValue) && parseFloat(inputValue) > 0) {
                // Valid input
                validationMessageElement.textContent = "";
            } else {
                // Invalid input
                validationMessageElement.textContent = "Please enter a valid positive number with up to two decimal places.";
            }
        }
        
    </script>
    
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>
</html>